-----BEGIN CERTIFICATE-----
MIIEiTCCA3GgAwIBAgIBATANBgkqhkiG9w0BAQsFADCBjTELMAkGA1UEBhMCR0Ix
FDASBgNVBAgMC094Zm9yZHNoaXJlMQ8wDQYDVQQKDAZTb3Bob3MxDDAKBgNVBAsM
A05TRzEmMCQGA1UEAwwdU29waG9zIFNTTCBDQV9DMjMwNzZZNlBUSlBENEYxITAf
BgkqhkiG9w0BCQEWEnN1cHBvcnRAc29waG9zLmNvbTAiGA8yMDE1MDgwMTAwMDAw
MFoYDzIwMzYxMjMxMjM1OTU5WjCBjTELMAkGA1UEBhMCR0IxFDASBgNVBAgMC094
Zm9yZHNoaXJlMQ8wDQYDVQQKDAZTb3Bob3MxDDAKBgNVBAsMA05TRzEmMCQGA1UE
AwwdU29waG9zIFNTTCBDQV9DMjMwNzZZNlBUSlBENEYxITAfBgkqhkiG9w0BCQEW
EnN1cHBvcnRAc29waG9zLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoC
ggEBAM47o8Ybxo91kzkGPI+RydqXsfhO0kRBx+ghgliKyzK0eucHKNR3LGPWa41g
9lk2mVy0U5xehFQAFiPG8NF1zJ8OksKaiS3Xf7BdBTiO1Ry9yBJ1iWO2ClJCtubx
cer7TsKIwbyFSD9uJEUWaU1Oi1XbPhMSet+K7hfAnLg7y94+KHqoK1ruO4d8MxM3
AwoySu8cezQsYW5rJmOY94VoAaBjIv0BN35yXcT6/Mtgvl5JqbG2NngHd8z8wqRR
m85bhe65F6K41HhGNH7Zxm0Xu13EMagPjWqcA5hSqAQN4A/VHfBimzfq315Q+w7o
FjQ3kZzBYS/UQlzzXKQhRD4f8p0CAwEAAaOB7TCB6jAdBgNVHQ4EFgQUPUDPySyJ
pRgqH7zq/nfsmNaDHwEwgboGA1UdIwSBsjCBr4AUPUDPySyJpRgqH7zq/nfsmNaD
HwGhgZOkgZAwgY0xCzAJBgNVBAYTAkdCMRQwEgYDVQQIDAtPeGZvcmRzaGlyZTEP
MA0GA1UECgwGU29waG9zMQwwCgYDVQQLDANOU0cxJjAkBgNVBAMMHVNvcGhvcyBT
U0wgQ0FfQzIzMDc2WTZQVEpQRDRGMSEwHwYJKoZIhvcNAQkBFhJzdXBwb3J0QHNv
cGhvcy5jb22CAQEwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEAGfF5
E10wAiEt784YR9+H3uBWrnyp0tb1hE2sg5qUGzNgdYYAVYGOH2tRIdUsAmVcodtr
II76Ql5XTSnqfk4YsDULoMaI3sw6jEgZUQYyOK1csyBorh+e2pVBAk7tm8lnNvd9
SzqGJhsSgFGSiZ0Et2fRMhSRDoqCLwA3FuMfwohLdzFNTUaZ9eRni+7dBTO+V1UT
YqealyWGz/DXbDKTqwC/1sHKFULypwb21KuWobrFHkUAQfKKRS73CHrvEcMrNUsS
FB/+zgqSmvV5wr1qY4XY2MSijh0FNhXtz5qdkxv3ZRA7Bb4W7D/ytgZZm5gUCfz1
K8bcAIf6/OmTYsAPsA==
-----END CERTIFICATE-----
