// @mixin flexCenter ($direction ,$background) {
//     height:100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;   
//     flex-direction: $direction;
//     background: $background;
    
// }



header{
    // @include flexCenter(column ,cyan);
    // background: lightblue;
    height:100vh;
    background: cyan;
   
    color:$textcolor;



button{
    background: $primaryBtn ;
    &::after{
        content: "hweloooooo"
    }
}
}